@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat"),
       url("../fonts/Montserrat-Regular.woff2") format('woff2'),
       url("../fonts/Montserrat-Regular.woff") format('woff'),
       url("../fonts/Montserrat-Regular.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  src: local("Montserrat"),
       url("../fonts/Montserrat-Medium.woff2") format('woff2'),
       url("../fonts/Montserrat-Medium.woff") format('woff'),
       url("../fonts/Montserrat-Medium.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat"),
       url("../fonts/Montserrat-SemiBold.woff2") format('woff2'),
       url("../fonts/Montserrat-SemiBold.woff") format('woff'),
       url("../fonts/Montserrat-SemiBold.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: "Murs Gothic";
  font-weight: 900;
  font-style: normal;
  src: local("MursGothic"),
       url("../fonts/MursGothic.woff2") format('woff2'),
       url("../fonts/MursGothic.woff") format('woff'),
       url("../fonts/MursGothic.eot") format('eot');
  font-display: swap;
}
