html {
  font-size: 1.3889vw;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
@media (min-width: 1441px) {
  html {
    font-size: 1.04vw;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 1.9531vw;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 3.4722vw;
  }
}

body {
  background-color: #000;
  color: #fff;
  font-family: Montserrat, Serif;
  scrollbar-gutter: stable;
}

body.popup-open {
  position: fixed;
}

body.popup-open header {
  position: absolute;
  top: 0;
  left: 0;
}

h1,
.h1 {
  position: relative;
  font-weight: 600;
  font-size: 1.2rem;
}
h2,
.h2 {
  position: relative;
  font-family: "Murs Gothic";
  letter-spacing: 0.01em;
  font-size: 6rem;
  text-transform: uppercase;
}
h3,
.h3 {
  position: relative;
  font-weight: 400;
  font-size: 2.7rem;
}
p, li, a, .p1 {
  position: relative;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.2;
}
.grid-12 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 0.5rem;
}
.grid-6 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0 0.5rem;
}

div {
  height: fit-content;
}

.container {
  padding: 0 2rem;
}
.wrapper {
  min-height: 100%;
  width: 100%;
}

.btn {
  background: #A1004B;
  color: #fff;
  padding: 0.9rem 0;
  border-radius: 10px;
  font-size: 1rem;
}

.header {
  height: 100vh;
  background: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-rows: auto 1fr auto;
}
.header .header-nav {
  grid-column: 1/-1;
  padding: 2rem 0 0 0;
  align-self: start;
}
.header .header-nav__list {
  display: flex;
  justify-content: end;
}
.header .header-nav__list-item {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0 2rem 0 0;
}
.header .header-nav__list-item:last-child {
  margin: 0;
}
.header .header-logo {
  grid-column: 1/-1;
  align-self: stretch;
}
.header .header-logo__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.header .header-logo__pic img {
  height: 12.5rem;
}
.header .header-logo__est {
  padding-top: 0.5rem;
}
.header .header-socials {
  grid-column: 1/-1;
  padding: 0 0 2rem 0;
  align-self: start;
}
.header .header-socials__list {
  display: flex;
  justify-content: start;
}
.header .header-socials__list-item {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0 0.5rem 0 0;
}
.header .header-socials__list-item:last-child {
  margin: 0;
}
.header .header-socials__list-item img {
  height: 2rem;
}

.main .about-bg {
  height: 300vw;
}
.main .about {
  box-sizing: content-box;
  height: 70vh;
  padding-top: 7.5rem;
  padding-bottom: 30rem;
  position: sticky;
  top: 0;
  background: url("../images/bg.png") no-repeat center 50%/200%;
  overflow-x: hidden;
}
.main .about__holder {
  display: flex;
  will-change: transform;
  height: 100%;
}
.main .about__page {
  flex: 0 0 100vw;
  height: 100%;
}
.main .about__page--2 {
  flex: 0 0 80vw;
}
.main .about__page-block {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}
.main .about__page-block--1 {
  grid-column: 1/5;
}
.main .about__page-block--1 img {
  width: 19rem;
  border-radius: 10px;
}
.main .about__page-block--1 p {
  align-self: end;
}
.main .about__page-block--2 {
  grid-column: 7/-1;
  padding-right: 2rem;
}
.main .about__page-block--2 img {
  width: 31rem;
  align-self: end;
}
.main .about__page-block--3 {
  grid-column: 1/-1;
}
.main .about__page-block--3 img {
  width: 53.7rem;
}
.main .about__page-block--3 p {
  align-self: end;
  padding-right: 33%;
}
.main .about__page-block--4 {
  grid-column: 1/8;
  grid-template-rows: auto 1fr auto;
}
.main .about__page-block--4 img {
  width: 17rem;
  justify-self: end;
  border-radius: 10px;
  padding-right: 1rem;
}
.main .about__page-block--4 p {
  align-self: center;
  padding-right: 11rem;
}
.main .about__page-block--4 button {
  margin-right: 18rem;
}
.main .about__page-block--5 {
  grid-column: 8/-1;
  grid-template-rows: auto;
  height: 100%;
  background: url("../images/idustry-1.png") no-repeat center/cover;
  border-radius: 10px;
}
.main .about .about__text--bold {
  font-weight: 600;
}
.main .about .about__text--yellow {
  color: #EBD800;
}
.main .liders {
  height: 800px;
  padding-top: 20rem;
}

/*# sourceMappingURL=style.css.map */
