$c-bg: #000;
$c-white: #fff;
$c-yellow: #EBD800;
$c-rose: #A1004B;

@mixin centerItem () {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin pc {
    @media (min-width: 1441px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin mobileAlbum {
    @media (orientation: landscape) and (max-height: 576px) {
        @content;
    }
}

html {
    font-size: 1.3889vw;
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;

    @include pc {
        font-size: 1.04vw;
    }

    @include tablet {
        font-size: 1.9531vw;
    }

    @include mobile {
        font-size: 3.4722vw;
    }
}

body {
    background-color: $c-bg;
    color: $c-white;
    font-family: Montserrat, Serif;
    scrollbar-gutter: stable;
}

body.popup-open {
    position: fixed;
}

body.popup-open header {
    position: absolute;
    top: 0;
    left: 0;
}

h1,
.h1 {
    position: relative;
    font-weight: 600;
    font-size: 1.2rem;

    @include pc {
    }
    @include tablet {
    }
    @include mobile {
    }
}

h2,
.h2 {
    position: relative;
    font-family: "Murs Gothic";
    letter-spacing: 0.01em;
    font-size: 6rem;
    text-transform: uppercase;

    @include pc {
    }
    @include tablet {
    }
    @include mobile {
    }
}

h3,
.h3 {
    position: relative;
    font-weight: 400;
    font-size: 2.7rem;

    @include pc {
    }
    @include tablet {
    }
    @include mobile {
    }
}

p, li, a, .p1 {
    position: relative;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.2;

    @include pc {
    }
    @include tablet {
    }
    @include mobile {
    }
}

.grid-12 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 0.5rem;

    @include pc {
    }
    @include tablet {
    }
    @include mobile {
    }
}

.grid-6 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0 .5rem;
}

div {
    height: fit-content;
}

.container {
    padding: 0 2rem;

    @include pc {
    }
    @include tablet {
    }
    @include mobile {
    }
}

.wrapper {
    min-height: 100%;
    width: 100%;
}

.btn {
    background: $c-rose;
    color: $c-white;
    padding: 0.9rem 0;
    border-radius: 10px;
    font-size: 1rem;
    transition: color 0.5s, background-color 0.5s;
}
.btn:hover {
    background: $c-white;
    color: $c-bg;
}
.white-btn {
    background: $c-white;
    color: $c-bg;
    padding: 0.9rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.5s, background-color 0.5s;
}
.white-btn:hover {
    background: $c-rose;
    color: $c-white;
}
.border-btn {
    background: none;
    color: $c-white;
    border: 1px solid $c-white;
    padding: 0.5rem 0;
    border-radius: 5px;
    font-size: 1rem;
    transition: color 0.5s, background-color 0.5s;
}
.border-btn:hover {
    background: $c-rose;
    color: $c-white;
}
.form__mail {
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: underline;
}
.form__address {
    margin: 2rem 0;
}

.header {
    height: 100vh;
    background: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-rows: auto 1fr auto;

    .header-nav {
        grid-column: 1 / -1;
        padding: 2rem 0 0 0;
        align-self: start;
        
        &__list {
            display: flex;
            justify-content: end;
        }
        &__list-item {
            cursor: pointer;
            margin: 0 2rem 0 0;
            opacity: 1;
            transition: opacity .5s;

            a {
                font-size: 0.9rem;
                font-weight: 400;
            }

            &:last-child {
                margin: 0;
            }
        }
        &__list-item:hover {
            opacity: 0.6;
        }
    }
    .header-logo {
        grid-column: 1 / -1;
        align-self: stretch;
        
        &__pic {
            @include centerItem();
            flex-direction: column;
            height: 100%;

            img {
                height: 12.5rem;
            }
        }
        &__est {
            padding-top: 0.5rem;
        }
    }
}
.socials {
    grid-column: 1 / -1;
    padding: 0 0 2rem 0;
    align-self: start;
    
    &__list {
        display: flex;
        justify-content: start;
    }
    &__list-item {
        margin: 0 0.5rem 0 0;
        cursor: pointer;

        &:last-child {
            margin: 0;
        }

        img {
            height: 2rem;
        }
    }
}
.main {
    border-bottom: 2px solid $c-white;

    .about-bg {
        height: 300vw;
    }
    .about {
        box-sizing: content-box;
        height: 70vh;
        padding-top: 7.5rem;
        padding-bottom: 30rem;
        position: sticky;
        top: 0;
        background: url('../images/bg.png') no-repeat center 50% / 200%;
        overflow-x: hidden;

        &__holder {
            display: flex;
            will-change: transform;
            height: 100%;
        }
        &__page {
            flex: 0 0 100vw;
            height: 100%;
            &--1 {
            }
            &--2 {
                flex: 0 0 80vw;
            }
            &--3 {
            }
            &-block {
                display: grid;
                grid-template-rows: auto 1fr;
                height: 100%;
            }
            &-block--1 {
                grid-column: 1 / 5;

                img {
                    width: 19rem;
                    border-radius: 10px;
                }
                p {
                    align-self: end;
                }
            }
            &-block--2 {
                grid-column: 7 / -1;
                padding-right: 2rem;

                img {
                    width: 31rem;
                    align-self: end;
                }
            }
            &-block--3 {
                grid-column: 1 / -1;

                img {
                    width: 53.7rem;
                }

                p {
                    align-self: end;
                    padding-right: 33%;
                }
            }
            &-block--4 {
                grid-column: 1 / 8;
                grid-template-rows: auto 1fr auto;

                img {
                    width: 17rem;
                    justify-self: end;
                    border-radius: 10px;
                }
                p {
                    align-self: center;
                    padding-right: 11rem;
                }
                a>button {
                    width: 23rem;
                }
            }
            &-block--5 {
                grid-column: 8 / -1;
                grid-template-rows: auto;
                height: 100%;
                background: url('../images/idustry-1.png') no-repeat center / cover;
                border-radius: 10px;
            }
        }
        .about__text--bold {
            font-weight: 600;
        }
        .about__text--yellow {
            color: $c-yellow;
        }
        .about__btn {
        }
    }
    .leaders {
        margin-top: -19rem;
        position: relative;
        padding-bottom: 10rem;

        &__body {
          position: relative;
          width: 100%;
          z-index: 3;
        }
        &__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 3.5rem;
  
          h3 {
              margin-right: 1.2rem;
          }
        }
        &__btn-holder, &__header-holder {
          display: flex;
        }
        &__btn-holder {
          gap: 1.6rem;
        }
        .slider {
          display: flex;
          flex-direction: column;
          position: relative;
          &__list {
            display: flex;
            overflow: hidden;
            scrollbar-width: none;
            scroll-behavior: smooth;
            gap: 2rem;
          }
          &__list::-webkit-scrollbar {
            display: none;
          }
          &__item {
            display: flex;
            flex-direction: column;
            transition: transform 0.3s ease-in-out;
            min-width: 13.9rem;
          }
          &__button {
            width: 3.5rem;
            height: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $c-rose;
            border-radius: 10px;
            border: 1px solid #E2E1E5;
            cursor: pointer;
          }
          &__button.is-hidden {
            background: none;
          }

          .card {
            min-height: 25.3rem;
            display: flex;
            flex-direction: column;
            .card__body {
                margin-top: 1rem;
            }
            .card__title {
                p {
                    font-size: 0.8rem;
                }
                p:first-child {
                    margin-bottom: 1rem;
                }
            }
            .card__footer {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
            .card__price-holder {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;

                .card__price {
                    font-weight: 600;
                }
                .card__ml {
                    font-size: 0.8rem;
                    opacity: 0.5;
                }
            }
            .card__btn {
                width: 100%;
            }
          }
        }
    }
    .form {
        background: url('../images/bg.png') no-repeat center 40% / 200%;
        padding-bottom: 32rem;

        &__header {
            grid-column: 1 / -1;
            margin-bottom: 3.5rem;
        }
        &__holder {
            grid-column: 1 / 8;
            padding-right: 3rem;

            .form__desc {
                margin-bottom: 3rem;

            }
            .form__form {
                display: flex;
                flex-direction: column;

                .form__inp {
                    height: 3.5rem;
                    background: none;
                    border: 2px solid $c-white;
                    border-radius: 10px;
                    margin-bottom: 2rem;
                    padding: 1rem;
                    font-size: 1.2rem;
                    color: $c-white;
                }
                textarea.form__inp  {
                    min-height: 7.5rem;
                }
                .form__submit {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .form__check-holder {
                        display: flex;
                        align-items: center;
                        gap: 1.25rem;
                    }
                    input[type="checkbox"] {
                        appearance: none;
                        position: relative;
                        width: 1.25rem;
                        height: 1.25rem;
                        background: none;
                        border: 1px solid $c-white;
                    }
                    input[type="checkbox"]::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0px;
                        height: 0px;
                        font-size: 26px;
                        overflow: hidden;
                        background: url('../images/tick.svg') no-repeat center center / 80%;
                    }
                    input[type="checkbox"]:checked::after {
                        width: 1.25rem;
                        height: 1.25rem;
                    }
                    .form__check-text {
                        font-size: 0.9rem;
                        font-weight: 400;
                        color: rgba($color: #fff, $alpha: .5);
                    }
                    .form__btn {
                        width: 15.5rem;
                    }
                }
            }
        }
        &__contacts {
            grid-column: 8 / -1;
            padding-left: 5rem;
            align-self: center;
        }
    }
    .projects {
        margin-top: -19rem;
        row-gap: 0.5rem;
        align-items: center;
        padding-bottom: 10rem;

        .projects__card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
            border: 2px solid $c-white;
            border-radius: 10px;
            height: 12.5rem;
            justify-content: space-between;
            background: none;
            transition: background-color 0.5s;
            
            .projects__img-holder {
                height: 8.5rem;
                @include centerItem();

                img {
                    height: 100%;
                    object-fit: contain;
                }
            }
            p {
                font-size: 1.1rem;
                text-align: center;
            }
        }
        .projects__card:hover {
            background: $c-rose;
        }
        .projects__card#pc1 {
            grid-column: 1 / 4;
        }
        .projects__card#pc2 {
            grid-column: 4 / 7;

            .projects__img-holder {
                height: 7rem;
            }
        }
        .projects__card#pc3 {
            grid-column: 7 / 10;
        }
        .projects__card#pc4 {
            grid-column: 1 / 4;
        }
        .projects__card#pc5 {
            grid-column: 1 / 4;
        }
        .projects__card#pc6 {
            grid-column: 7 / 10;
        }
        .projects__card#pc7 {
            grid-column: 10 / -1;
        }
        .projects__header {
            grid-column: 4 / 10;
            text-align: center;
        }
    }
}
.footer {
    padding-top: 3.5rem;
    padding-bottom: 6rem;

    &__logo-col {
        grid-column:  1 / 3;

        .footer__img-holder>img {
            width: 100%;
        }
        .footer__img-holder {
            margin-bottom: 0.5rem;
        }
        p {
            font-size: 0.8rem;
            text-align: center;
        }
    }
    &__menu-col {
        grid-column: 4 / 7;

        .footer__menu-list>a>li {
            font-size: 0.9rem;
            margin-bottom: 1rem;
            opacity: 0.6;
            transition: opacity 0.5s;
        }
        .footer__menu-list>a:last-child {
            li {
                margin-bottom: 0;
            }
        }
        .footer__menu-list>a>li:hover {
            opacity: 1;
        }
    }
    &__contacts-col {
        grid-column: 8 / -1;
    }
}